html {
  display: flex;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(214deg, #F8D422 0%, #EF3D23 49.63%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

a {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 20.333px;
  border: 1px solid #F8D422;

  text-decoration: none;
}

a:hover {
  border: 2px solid #F8D422;
  padding: 7px 15px;
}

h2 {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
